6절 파이썬 기초 문법 | 파이썬에서 여러 개의 자료를 한 변수에 담기
* 여러 개의 자료가 순서가 있을 때는 리스트(list) 자료형 사용
* 여러 개의 자료가 이름이 있을 때는 딕셔너리(dictionary) 자료형 사용
https://datascienceschool.net/view-notebook/b7db5062d333474ca700f1c5f63e3979/

자료의 순서만 가지는 리스트형
* 리스트변수 = [자료1, 자료2, 자료3]

인덱싱
* 리스트변수[인덱스]

자료의 이름만 가지는 딕셔너리 자료형
* 딕셔너리변수 = {자료이름1: 자료값1, 자료이름2: 자료값2, 자료이름3: 자료값3}

자료형이 다른 경우
* 자료형이 다른 자료들도 담을 수 있다. 예를 들어 정수형 자료와 실수형 자료, 그리고 문자열 자료를 한 리스트 변수에 넣을 수도 있다.

In [3]:
x= [88, 90, 100]

In [4]:
x

[88, 90, 100]

In [5]:
x[0]

88

In [6]:
x[1]

90

In [7]:
x[2]

100

In [17]:
x = [1, 2]

In [18]:
(x[0] + x[1]) /2

1.5

In [11]:
# exercise1 : 시험 성적을 나타내는 임의의 숫자 5개를 리스트 변수 score에 넣고 평균을 구한다.

score = [1, 2, 3, 4, 5]
average = (score[0] + score[1] + score[2] + score[3] + score[4]) / 5

In [12]:
average

3.0

In [4]:
b = {"math" : 88, "english" : 90, "history" : 100}

In [5]:
b

{'english': 90, 'history': 100, 'math': 88}

In [6]:
b["math"]

88

In [7]:
b["english"]

90

In [8]:
b['history']

100

In [9]:
(b['math'] + b['english']) / 2

89.0

In [10]:
b2 = {1: 10, 2: 20}

In [11]:
b2

{1: 10, 2: 20}

In [12]:
b2[1]

10

In [13]:
b2[2]

20

In [29]:
# exercise 2 : 
# 각 달의 날짜수를 저장하는 변수 days구함

days = {1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30, 7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31}

In [30]:
days

{1: 31,
 2: 28,
 3: 31,
 4: 30,
 5: 31,
 6: 30,
 7: 31,
 8: 31,
 9: 30,
 10: 31,
 11: 30,
 12: 31}

In [70]:
# days[12]
# for i in range(12):
#     def f(x):
#         i = i + 1
#         return i
# days[i]

# for j in range(12):
#     if days[i] % 2 == 0:
#         sum_even = days

        
# 미첼에게 물어 보기
# for i in range(12):
#     if days[i] % 2 == 0:
#         sum = sum + days[i]
#     else:
#         sum = sum + 0
# return sum


(days[2] + days[4] + days[6] + days[9] + days[11]) / 5

29.6

In [71]:
d = [1, 3.14, "pi"]

In [72]:
d[0]

1

In [73]:
d[1]

3.14

In [74]:
d[2]

'pi'

In [75]:
d[3]

IndexError: list index out of range

In [76]:
e = [[1,10], [2,20]]

In [81]:
e[0]

[2, 20]

In [78]:
e[0][0]

1

In [80]:
e[0][1]

10

In [82]:
e[1]

[2, 20]