In [59]:
f(500) = "생수"
f(1000) = "콜라"

SyntaxError: can't assign to function call (<ipython-input-59-7827ea9bf812>, line 1)

In [60]:
def twotimes(x):
    y =  2 * x
    return y

In [61]:
twotimes(2)

4

In [62]:
def threetimes(x):
    y = 3 * x
    return y
threetimes(3)

9

In [63]:
twotimes(10)

20

In [65]:
##연습문제1-1) 짝수가 입력되면 "짝수"라는 문자열을, 
##홀수가 입력되면 "홀수"라는 문자열을 반환하는 함수를 만든다

def evenodd(x):
    if x % 2 == 0:
        print("짝수")
    else:
        print("홀수")
evenodd(9)

홀수

In [135]:
##연습문제1-2) 윤년을 나타나는 수가 입력되면 "윤년"이라는 문자열을, 
## 그렇지 않은 수가 입력되면 "평년"이라는 문자열을 반환하는 함수를 만든다.

# def leapyear(x):
#     if (x % 4 != 0 or x % 100 == 0) and (x % 400 != 0):
#         print("평년")
#     else:
#         print("윤년")
# leapyear(2008)

#---------
def is_leap_year(year):
    if (year % 4 != 0 or year % 100 == 0) and (year % 400 != 0):
        return False
    else:
        return True
        
        
print(is_leap_year(2008))

True

In [124]:
#연습문제 2
##평년일 때 1, 3, 5, 7, 8, 10, 12 월은 31일, 
##4, 6, 9, 11월은 30일, 2월은 28일이다. 
##월을 나타내는 숫자를 입력하면 그 달의 날짜 수를 반환하는 함수 days를 만든다. 
##사용 예는 다음과 같다.
###>>> days1(11)
###30

def days1(x):
    if (x <= 7) & (x % 2 != 0) | (12 >= x >= 8) & (x % 2 == 0):
        # print("This month has ", 31, "days")
        return 31
    elif (x == 4) | (x == 6) | (x == 9) | (x == 11):
        # print("This month has ", 30, "days")
        return 30
    elif (x == 2):
        # print("This month has ", 28, "days")
        return 28
    else:
        # print("Wrong entered month!")
        return -1

print('return value: ', days1(9999))

return value:  -1

In [130]:
def daysOfMonth(month):
    """
    Returns the days of input month.
    """
    if (month <= 7) & (month % 2 != 0) | (12 >= month >= 8) & (month % 2 == 0):
        return 31
    elif (month == 4) | (month == 6) | (month == 9) | (month == 11):
        return 30
    elif (month == 2):
        return 28
    else:
        return -1

In [98]:
def add(x, y):
    return x + y
add(1, 2)

3

In [99]:
def sum(a,b,c):
    s = a + b + c
    return s
sum(1,2,3)

6

In [150]:
from multipledispatch import dispatch

@dispatch(int)
def daysOfMonth(month):
    """
    Returns the days of input month.
    """
    if (month <= 7) & (month % 2 != 0) | (12 >= month >= 8) & (month % 2 == 0):
        return 31
    elif (month == 4) | (month == 6) | (month == 9) | (month == 11):
        return 30
    elif (month == 2):
        return 28
    else:
        return -1

@dispatch(int, int)
def daysOfMonth(year, month):
    leapyear = is_leap_year(year)
    if leapyear and month == 2:
        return 29
    else:
        return daysOfMonth(month)

print(daysOfMonth(2016, 2))
print(daysOfMonth(2013, 11))

29
30

In [149]:
from multipledispatch import dispatch

@dispatch(int)
def func(x):
    return x

@dispatch(int, int)
def func(x, y):
    return x

func(20, 10)

20

In [151]:
def days_month(month):
    """
    Returns the days of input month.
    """
    if (month <= 7) & (month % 2 != 0) | (12 >= month >= 8) & (month % 2 == 0):
        return 31
    elif (month == 4) | (month == 6) | (month == 9) | (month == 11):
        return 30
    elif (month == 2):
        return 28
    else:
        return -1

def days_month_year(year, month):
    leapyear = is_leap_year(year)
    if leapyear and month == 2:
        return 29
    else:
        return daysOfMonth(month)

print(days_month_year(2016, 2))
print(days_month_year(2013, 11))

29
30

In [1]:
# 람다 함수

def f(x):
    return 2 * x

In [2]:
f = lambda x: 2 * x

In [3]:
f(2)

4

In [4]:
f = lambda x: 3 * x
f(3)

9

In [5]:
f = lambda x: 2 * (5 + x)
f(1)

12

In [7]:
# 지역 변수

del y

NameError: name 'y' is not defined

In [15]:
def f(x):
    y = 10 * x
    print("y = ", y)
    return y

# f = lambda x: 10 * x
# print("y = ", f(10))
f(10)

y =  100

100

In [16]:
y

# 함수에 넣은 입력 변수나 함수 안에서 만들어진 변수는 함수 바깥에서는 사용할 수 없다. 혹시 이름이 같은 변수가 있다고 하더라도 별개의 변수가 된다.
# 따라서 함수 안에서 만들어지고 사용되는 함수를 지역 변수, 영어로 local variable 이라고 한다.

NameError: name 'y' is not defined

In [17]:
y = 1000

In [18]:
y

1000

In [19]:
del y

In [20]:
y

NameError: name 'y' is not defined

In [23]:
def f(x):
    y = 10 * x
    print("y = ", y)
    return y

In [25]:
f(10)

y =  100

100

In [26]:
y = 100

In [27]:
y

100

In [28]:
f(1)

y =  10

10

In [29]:
y

100

In [30]:
n1 = input()

In [69]:
# exercise 4 
# 10개의 숫자를 입력하면 "그 숫자들의 합"과 
# "그 숫자들을 제곱한 숫자들의 합"의 차이(큰 수에서 작을 수를 뺀 값)를 
# 계산하는 함수 diffsum를 만든다. 
# 큰 수에서 작은 수를 뺀 결과이므로 항상 0보다 크거나 0과 같아야 한다.

def diffsum(n1, n2, n3, n4, n5, n6, n7, n8, n9, n10):
    general_sum = n1 + n2 + n3 + n4 + n5 + n6 + n7 + n8 + n9 + n10
    square_sum = n1 **2 + n2 **2 + n3 **2 + n4 **2 + n5 **2 + n6 **2 + n7 **2 + n8 **2 + n9 **2 + n10 **2
    print("general_sum = ", general_sum, ", ", "square_sum = ", square_sum)
    if general_sum >= square_sum:
        bigger = general_sum - square_sum
#         gen_bigger = general_sum - square_sum
#         return gen_bigger
    else:
        bigger = square_sum - general_sum
#         sq_bigger = square_sum - general_sum
#         return sq_bigger
    return bigger
    
diffsum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
# diffsum(1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
# diffsum(0, 1, 1, 1, 1, 1, 1, 1, 1, 1)

general_sum =  55 ,  square_sum =  385

330

In [53]:
# 전역 변수
# 유의사항 : 함수 안에서는 함수 바깥에 있는 변수의 값을 바꿀 수 없다.
z = 3

def f2(x):
    y = z * x
    print("y = ", y)
    print("z = ", z)
    return y

In [54]:
f2(10)

y =  30
z =  3

30

In [55]:
z

3

In [56]:
z = 3

def f3(x):
    z = 99
    y = z * x
    print("y = ", y)
    print("z = ", z)
    return y

In [57]:
f3(10)

y =  990
z =  99

990

In [58]:
z

3

In [60]:
# Outer Paramater Modification

z = 3

def f4(x):
    global z
    z = 99
    y = z * x
    print("y = ", y)
    print("z = ", z)
    return y

f4(10)

y =  990
z =  99

990

In [61]:
z

99

In [82]:
# exercise 5
# 함수 바깥에 m 이라는 전역 변수를 만들고 그 값을 0으로 놓는다.
# 앞에서 만든 diffsum 함수를 고쳐서 diffsum 함수와 같은 값을 반환하지만
# 함수를 실행할 때 마다 diffsum 함수에서 계산된 값이 원래 있던 m보다 크면
# m을 계산된 값으로 바꾸는 함수 diffsum2 를 만든다.

m = 0

def diffsum(n1, n2, n3, n4, n5, n6, n7, n8, n9, n10):
    general_sum = n1 + n2 + n3 + n4 + n5 + n6 + n7 + n8 + n9 + n10
    square_sum = n1 **2 + n2 **2 + n3 **2 + n4 **2 + n5 **2 + n6 **2 + n7 **2 + n8 **2 + n9 **2 + n10 **2
    if general_sum >= square_sum:
        bigger = general_sum - square_sum
    else:
        bigger = square_sum - general_sum
    return bigger

def diffsum2(x):
    global m
    x = bigger
    if bigger > m:
        m = bigger
        print("m = ", m)
        return m
    else:
        return m

In [83]:
diffsum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(diffsum2)

## 물어볼 것 to Mitchell

<function diffsum2 at 0x10d5f59d8>