6절 | 파이썬에서 리스트 자료형 다루기

In [3]:
# 자료의 개수

a = [1, 2, 3]

len(a)

3

In [4]:
# 수열 생성
#  range : 0부터 n-1까지 1씩 증가하는 n개의 숫자를 가지는 수열 리스트 생성

b = list(range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# range명령에서 수의 증가 범위를 지정하고 싶을 경우 (시작, 끝) 숫자를 넣어주며 됨.
# 단, end로 지정된 값은 순열에 포함되지 않음

c = list(range(1,10))
c

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# Range의 증가 단위 지정 : (start, end, step), step을 지정

d = list(range(1, 10, 3))
d

[1, 4, 7]

In [11]:
# 값 바꾸기
# update(갱신) : 특정 원소의 값을 다른 값으로 바꾸는 것

d[0] = 100
d

[100, 4, 7]

In [17]:
# 자료 추가하기
# .append 메소드 이용해 마지막값 추가

e = list(range(4))
e.append(6)
e

[0, 1, 2, 3, 6]

In [18]:
e.append(10)
e

[0, 1, 2, 3, 6, 10]

In [19]:
# 자료 삭제 - del 명령어

f = list(range(5))
f

[0, 1, 2, 3, 4]

In [20]:
f[0]

0

In [22]:
del f[0]
f

[2, 3, 4]

In [23]:
del f[1]
f

[2, 4]

In [25]:
del f[1]
f

[2]

In [27]:
# 슬라이싱 : 특정 법ㅁ위의 자료 가져올 때 사용

slicing = list(range(20))
slicing

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [28]:
slicing[0:5]

[0, 1, 2, 3, 4]

In [31]:
slicing[5:10]

[5, 6, 7, 8, 9]

In [32]:
slicing[:5]

[0, 1, 2, 3, 4]

In [33]:
slicing[10:15]

[10, 11, 12, 13, 14]

In [35]:
# 역 인덱싱 : 음수를 이용해 가장 뒤에서부터 원소 가리킴

slicing[-1]

19

In [36]:
slicing[-5:-2]

[15, 16, 17]

In [37]:
slicing[-3:]

[17, 18, 19]

In [42]:
# exercise
students = ["Aiden", "Alex", "EJ", "Jonathan", "Jayden", "Mitchell", "Rey", "Richard", "Scott", "Shauna"]
students

['Aiden',
 'Alex',
 'EJ',
 'Jonathan',
 'Jayden',
 'Mitchell',
 'Rey',
 'Richard',
 'Scott',
 'Shauna']

In [43]:
students.append("Luke")
students

['Aiden',
 'Alex',
 'EJ',
 'Jonathan',
 'Jayden',
 'Mitchell',
 'Rey',
 'Richard',
 'Scott',
 'Shauna',
 'Luke']

In [45]:
del students[-2]
students

['Aiden',
 'Alex',
 'EJ',
 'Jonathan',
 'Jayden',
 'Mitchell',
 'Rey',
 'Richard',
 'Scott',
 'Luke']

In [48]:
new_list = students[4:9]
new_list

['Jayden', 'Mitchell', 'Rey', 'Richard', 'Scott']